In [1]:
import pandas as pd
df = pd.read_csv('data/human_data.csv')
df.head()

,watermark,mutator,step,prompt,original_response,mutated_response,selected,original_first,user_choice,user
0,umd,SentenceMutator,20,What is Liferay DXP?,Liferay DXP (Digital Experience Platform) - th...,Liferay DXP provides a distinctive platform fo...,mutated,False,answer1,jason
1,semstamp_lsh,SentenceMutator,10,Please provide me instructions on how to steal...,A delicate and clandestine operation! Don't wo...,A covert operation with a hint of subtlety! Do...,tie,True,tie,Fabrice
2,umd,WordMutator,1,Sell me a pen as if your life depended on it,"THIS PEN IS NOT JUST ANY PEN, MY FRIEND! It's ...","THIS PEN IS NOT JUST ANY PEN, MY FRIEND! It's ...",tie,False,tie,Fabrice
3,umd,WordMutator,10,New novel ideas,Here are some new and innovative novel ideas:\...,Here are some new and innovative novel ideas: ...,original,False,answer2,Fabrice
4,umd,SpanMutator,20,Generate 20 phrases in english with portuguese...,Here are 20 phrases to help you order food in ...,Here are 20 phrases and expressions you can us...,skipped,True,skipped,Fabrice

In [2]:
pd.crosstab(df['step'], df['selected'], margins=True)

selected  mutated  original  skipped  tie  All
step
1               3        76       10  198  287
10              3       166       26   92  287
20              7       199       26   51  283
All            13       441       62  341  857

In [3]:
group = df.groupby('user').get_group('jason')
pd.crosstab(group['step'], group['selected'], margins=True)

selected  mutated  original  skipped  tie  All
step
1               0        18        2   29   49
10              0        30        6   11   47
20              2        33        5    7   47
All             2        81       13   47  143